<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% block CSSFILES %}{% endblock %}

    <script src="/js/jquery-3.2.1.min.js"></script>
    <script src="/js/js.cookie.js"></script>


    {% block JSFILES %}{% endblock %}

    <title>{% block TITLE %}{{ title }}{% endblock %}</title>
</head>
<body>
{% block CONTENT %} {% endblock %}
</body>
</html>
