{% extends '/admin/blank.twig' %}

{% block CONTENT %}
    <h1>admin template</h1>
    <form action="">
        <label for="fdb_server_path">fdb_server_path</label>
        <input type="text" name="fdb_server_path">
        <div>
            <input type="button" value="импортировать данные">
        </div>
    </form>
{% endblock %}